@charset "UTF-8";
html {
  font-size: 100%;
}

img {
  max-width: 100%;
}

/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
ul,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.l-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 217px 1fr 150px;
      grid-template-rows: 217px 1fr 150px;
  -ms-grid-columns: 1fr 19%;
      grid-template-columns: 1fr 19%;
}

@media (max-width: 1024px) {
  .l-container {
    display: block;
  }
}

.l-header {
  background-color: #FFF7EF;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
}

.l-main {
  background-color: white;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 1;
  grid-column: 1;
}

.l-sidebar {
  background-color: #F2EDE9;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -ms-grid-column: 2;
  grid-column: 2;
}

@media (max-width: 1024px) {
  .l-sidebar {
    position: absolute;
    top: 0%;
    left: 100%;
    width: 50%;
    height: 2747px;
    z-index: 100;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
  }
}

@media (max-width: 599px) {
  .l-sidebar {
    height: 2566px;
    width: 80%;
  }
}

.open {
  display: block !important;
}

.open-slide {
  left: 50%;
}

@media (max-width: 599px) {
  .open-slide {
    left: 20%;
  }
}

.l-footer {
  background-color: #9D8670;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.c-search-form {
  width: 100%;
}

.c-search-form__keyword {
  width: 70%;
  line-height: 45px;
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  border: 1px solid #707070;
  border-radius: 10px;
  font-size: 25px;
  margin-right: 20px;
  padding-left: 10px;
}

@media (max-width: 599px) {
  .c-search-form__keyword {
    margin-right: 5px;
  }
}

.c-search-form__btn {
  width: 20%;
  padding: 14px 0  6px;
  border-radius: 2px;
  background: #F2EDE9;
  color: #707070;
  font-weight: bold;
  font-size: 16px;
  border: 2px solid #707070;
  border-radius: 10px;
}

.c-search-form__btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.c-takeout-detail {
  width: 95%;
  height: 174px;
  background-color: rgba(255, 255, 255, 0.7);
}

.c-takeout-detail h4 {
  padding: 19px 0 0 19px;
  color: #3C2A10;
}

.c-takeout-detail p {
  padding: 26px 19px 0 19px;
  color: #3C2A10;
}

@media (max-width: 1024px) {
  .c-tablet-background--gray {
    width: 100%;
    height: 2747px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #706f6f;
    z-index: 99;
    display: none;
    opacity: 0.7;
  }
}

@media (max-width: 1024px) and (max-width: 599px) {
  .c-tablet-background--gray {
    height: 2566px;
  }
}

.p-header {
  width: 100%;
  height: 217px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1024px) {
  .p-header {
    display: block;
    position: relative;
  }
}

.p-header-left {
  margin-left: 5%;
}

@media (max-width: 1024px) {
  .p-header-left {
    width: 203px;
    margin: 0 auto;
    padding: 40px 0 38px;
  }
}

.p-header-right {
  margin-right: 30px;
  margin-top: 10px;
  margin-left: 30px;
  width: 546px;
  height: 46px;
}

@media (max-width: 1024px) {
  .p-header-right {
    margin: 0 auto;
  }
}

@media (max-width: 599px) {
  .p-header-right {
    width: 80%;
  }
}

.p-header-menu-btn {
  display: none;
}

@media (max-width: 1024px) {
  .p-header-menu-btn {
    display: block;
    position: absolute;
    right: 26px;
    top: 10px;
    color: #707070;
    font-size: 20px;
  }
  .p-header-menu-btn:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.p-main-visual {
  background-image: url(../img/main-visual.png);
  background-size: 100% 100%;
  background-position: center;
  height: 530px;
  position: relative;
}

@media (max-width: 1024px) {
  .p-main-visual {
    height: 285px;
  }
}

.p-main-visual-title {
  position: absolute;
  top: 43%;
  left: 86px;
  color: white;
  font-size: 40px;
}

@media (max-width: 599px) {
  .p-main-visual-title {
    left: 25px;
  }
}

.p-main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 120px;
  height: 1193px;
}

@media (max-width: 599px) {
  .p-main-section {
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-main-section .p-takeout {
  margin-left: 7%;
  margin-right: 3%;
  position: relative;
  width: 50%;
  height: 100%;
  background-image: url(../img/takeout.png);
  background-size: cover;
}

@media (max-width: 599px) {
  .p-main-section .p-takeout {
    width: 90%;
    margin: 0px auto 20px;
  }
}

.p-main-section .p-takeout-title {
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 5vw;
  color: #EAEAEA;
}

.p-main-section .p-takeout-title::after {
  content: "";
  width: 63px;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: -23px;
  background: white;
}

@media (max-width: 599px) {
  .p-main-section .p-takeout-title {
    font-size: 46px;
  }
}

.p-main-section .p-takeout-detail--top {
  position: absolute;
  left: 2.5%;
  top: 67%;
}

@media (max-width: 599px) {
  .p-main-section .p-takeout-detail--top {
    top: 38%;
  }
}

.p-main-section .p-takeout-detail--bottom {
  position: absolute;
  left: 2.5%;
  top: 83%;
}

@media (max-width: 599px) {
  .p-main-section .p-takeout-detail--bottom {
    top: 69%;
  }
}

.p-main-section .p-eatin {
  margin-right: 7%;
  position: relative;
  width: 50%;
  height: 100%;
  background-image: url(../img/eatin.png);
  background-size: cover;
}

@media (max-width: 599px) {
  .p-main-section .p-eatin {
    width: 90%;
    margin: 0 auto;
  }
}

.p-main-section .p-eatin-title {
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 5vw;
  color: white;
}

.p-main-section .p-eatin-title::after {
  content: "";
  width: 63px;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: -23px;
  background: white;
}

@media (max-width: 599px) {
  .p-main-section .p-eatin-title {
    font-size: 46px;
  }
}

.p-main-section .p-eatin-detail--top {
  position: absolute;
  left: 2.5%;
  top: 67%;
}

@media (max-width: 599px) {
  .p-main-section .p-eatin-detail--top {
    top: 38%;
  }
}

.p-main-section .p-eatin-detail--bottom {
  position: absolute;
  left: 2.5%;
  top: 83%;
}

@media (max-width: 599px) {
  .p-main-section .p-eatin-detail--bottom {
    top: 69%;
  }
}

.p-main-map {
  margin-top: 131px;
  height: 652px;
  position: relative;
}

@media (max-width: 599px) {
  .p-main-map {
    margin-top: 50px;
  }
}

.p-main-map .p-background-black {
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0px;
  left: 0px;
}

.p-main-map .p-background-gray {
  width: 61.5%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}

@media (max-width: 1024px) {
  .p-main-map .p-background-gray {
    width: 100%;
  }
}

@media (max-width: 599px) {
  .p-main-map .p-background-gray {
    width: 100%;
    height: 60%;
  }
}

.p-main-map-photo {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: url(../img/map.png);
  background-size: cover;
}

.p-main-map-text {
  position: absolute;
  z-index: 3;
  color: white;
  left: 10%;
  top: 12%;
  width: 46%;
}

@media (max-width: 1024px) {
  .p-main-map-text {
    width: 80%;
  }
}

@media (max-width: 599px) {
  .p-main-map-text {
    top: 40px;
  }
}

.p-main-map-text h3 {
  font-size: 36px;
  font-weight: bold;
  position: relative;
}

.p-main-map-text h3::after {
  content: "";
  width: 75px;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: -20px;
  background: white;
}

@media (max-width: 599px) {
  .p-main-map-text h3 {
    font-size: 30px;
  }
}

.p-main-map-text p {
  margin-top: 40px;
  font-size: 1vw;
  font-weight: bold;
  line-height: 33px;
}

@media (max-width: 1024px) {
  .p-main-map-text p {
    font-size: 2vw;
  }
}

@media (max-width: 599px) {
  .p-main-map-text p {
    font-size: 14px;
    line-height: normal;
  }
}

.p-menu {
  width: 80%;
  height: 1300px;
  padding-top: 82px;
  margin: 0 auto;
  color: #707070;
}

.p-menu-title {
  padding-bottom: 68px;
  font-size: 2.0vw;
}

@media (max-width: 1024px) {
  .p-menu-title {
    display: none;
  }
}

.p-menu-kind h3 {
  padding: 17px 0 40px;
  font-size: 1.4vw;
}

@media (max-width: 1024px) {
  .p-menu-kind h3 {
    font-size: 24px;
  }
}

.p-menu-kind-detail {
  padding-left: 20px;
  font-size: 1.0vw;
}

@media (max-width: 1024px) {
  .p-menu-kind-detail {
    font-size: 20px;
  }
}

.p-menu-kind-detail li {
  padding-bottom: 23px;
}

.p-menu-kind-detail li a {
  color: #707070;
  text-decoration: none;
}

.p-menu-kind-detail li a:hover {
  opacity: 0.8;
}

@media (max-width: 1024px) {
  .p-menu .p-close-btn {
    position: absolute;
    top: 0.5%;
    right: 3%;
  }
  .p-menu .p-close-btn .batsu {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
  }
  .p-menu .p-close-btn .batsu::before, .p-menu .p-close-btn .batsu::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    /* 棒の幅（太さ） */
    height: 30px;
    /* 棒の高さ */
    background: #707070;
  }
  .p-menu .p-close-btn .batsu::before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }
  .p-menu .p-close-btn .batsu::after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.p-footer {
  text-align: center;
  color: white;
  height: 150px;
}

.p-footer-shop-info {
  padding-top: 40px;
  font-size: 20px;
}

.p-footer-text {
  padding-top: 30px;
  font-size: 14px;
}

.p-archive-main-visual {
  width: 100%;
  height: 239px;
  background-image: url(../img/archive-main.png);
  background-size: auto 100%;
  background-position: 25%;
  position: relative;
  background-color: black;
  color: white;
}

@media (max-width: 599px) {
  .p-archive-main-visual {
    height: 283px;
  }
}

.p-archive-main-visual h1 {
  font-size: 60px;
  padding-top: 80px;
  padding-left: 86px;
  position: relative;
}

@media (max-width: 599px) {
  .p-archive-main-visual h1 {
    padding-top: 110px;
    padding-left: 40px;
    font-size: 40px;
  }
}

.p-archive-main-visual h1 .p {
  font-size: 16px;
  display: inline-block;
  position: absolute;
  top: 118px;
}

@media (max-width: 599px) {
  .p-archive-main-visual h1 .p {
    top: 160px;
    left: 42px;
    font-size: 18px;
  }
}

.p-archive-main-section {
  width: 87%;
  margin: 0 auto;
  color: #3C2A10;
}

.p-archive-main-section-text {
  margin: 60px 0 70px;
}

@media (max-width: 599px) {
  .p-archive-main-section-text {
    margin: 30px 0 19px;
  }
}

.p-archive-main-section-text h2 {
  font-size: 36px;
  font-style: bold;
}

@media (max-width: 599px) {
  .p-archive-main-section-text h2 {
    font-size: 28px;
  }
}

.p-archive-main-section-text p {
  font-size: 16px;
  margin-top: 25px;
}

.p-archive-main-section .p-cheeseburger-section {
  width: 100%;
}

.p-archive-main-section .p-cheeseburger-section-top, .p-archive-main-section .p-cheeseburger-section-center, .p-archive-main-section .p-cheeseburger-section-bottom {
  width: 100%;
  margin-bottom: 30px;
  height: 471px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1024px) {
  .p-archive-main-section .p-cheeseburger-section-top, .p-archive-main-section .p-cheeseburger-section-center, .p-archive-main-section .p-cheeseburger-section-bottom {
    height: 354px;
  }
}

@media (max-width: 599px) {
  .p-archive-main-section .p-cheeseburger-section-top, .p-archive-main-section .p-cheeseburger-section-center, .p-archive-main-section .p-cheeseburger-section-bottom {
    display: block;
    height: 585px;
  }
}

.p-archive-main-section .p-cheeseburger-section-top .p-burger-visual, .p-archive-main-section .p-cheeseburger-section-center .p-burger-visual, .p-archive-main-section .p-cheeseburger-section-bottom .p-burger-visual {
  width: 50%;
  height: 100%;
  background-image: url(../img/archive-section-visual.png);
  background-size: cover;
  background-position: center;
}

@media (max-width: 599px) {
  .p-archive-main-section .p-cheeseburger-section-top .p-burger-visual, .p-archive-main-section .p-cheeseburger-section-center .p-burger-visual, .p-archive-main-section .p-cheeseburger-section-bottom .p-burger-visual {
    width: 100%;
    height: 40%;
  }
}

.p-archive-main-section .p-cheeseburger-section-top .p-burger-detail, .p-archive-main-section .p-cheeseburger-section-center .p-burger-detail, .p-archive-main-section .p-cheeseburger-section-bottom .p-burger-detail {
  width: 50%;
  height: 100%;
  background-color: #473728;
  color: white;
}

@media (max-width: 599px) {
  .p-archive-main-section .p-cheeseburger-section-top .p-burger-detail, .p-archive-main-section .p-cheeseburger-section-center .p-burger-detail, .p-archive-main-section .p-cheeseburger-section-bottom .p-burger-detail {
    width: 100%;
    height: 60%;
  }
}

.p-archive-main-section .p-cheeseburger-section-top .p-burger-detail h2, .p-archive-main-section .p-cheeseburger-section-center .p-burger-detail h2, .p-archive-main-section .p-cheeseburger-section-bottom .p-burger-detail h2 {
  font-size: 2vw;
  padding: 53px 0 10% 63px;
}

@media (max-width: 1024px) {
  .p-archive-main-section .p-cheeseburger-section-top .p-burger-detail h2, .p-archive-main-section .p-cheeseburger-section-center .p-burger-detail h2, .p-archive-main-section .p-cheeseburger-section-bottom .p-burger-detail h2 {
    font-size: 2.7vw;
    padding: 29px 0 24px 35px;
  }
}

@media (max-width: 599px) {
  .p-archive-main-section .p-cheeseburger-section-top .p-burger-detail h2, .p-archive-main-section .p-cheeseburger-section-center .p-burger-detail h2, .p-archive-main-section .p-cheeseburger-section-bottom .p-burger-detail h2 {
    font-size: 5vw;
  }
}

.p-archive-main-section .p-cheeseburger-section-top .p-burger-detail h3, .p-archive-main-section .p-cheeseburger-section-center .p-burger-detail h3, .p-archive-main-section .p-cheeseburger-section-bottom .p-burger-detail h3 {
  padding-bottom: 5px;
  padding-left: 63px;
}

@media (max-width: 1024px) {
  .p-archive-main-section .p-cheeseburger-section-top .p-burger-detail h3, .p-archive-main-section .p-cheeseburger-section-center .p-burger-detail h3, .p-archive-main-section .p-cheeseburger-section-bottom .p-burger-detail h3 {
    padding-left: 35px;
  }
}

.p-archive-main-section .p-cheeseburger-section-top .p-burger-detail p, .p-archive-main-section .p-cheeseburger-section-center .p-burger-detail p, .p-archive-main-section .p-cheeseburger-section-bottom .p-burger-detail p {
  width: 84%;
  padding-bottom: 10%;
  padding-left: 63px;
  font-size: 16px;
}

@media (max-width: 1024px) {
  .p-archive-main-section .p-cheeseburger-section-top .p-burger-detail p, .p-archive-main-section .p-cheeseburger-section-center .p-burger-detail p, .p-archive-main-section .p-cheeseburger-section-bottom .p-burger-detail p {
    padding-left: 35px;
    padding-bottom: 35px;
    font-size: 1.8vw;
  }
}

@media (max-width: 599px) {
  .p-archive-main-section .p-cheeseburger-section-top .p-burger-detail p, .p-archive-main-section .p-cheeseburger-section-center .p-burger-detail p, .p-archive-main-section .p-cheeseburger-section-bottom .p-burger-detail p {
    font-size: 14px;
    padding-bottom: 10%;
  }
}

.p-archive-main-section .p-cheeseburger-section-top .p-burger-detail .detail-btn, .p-archive-main-section .p-cheeseburger-section-center .p-burger-detail .detail-btn, .p-archive-main-section .p-cheeseburger-section-bottom .p-burger-detail .detail-btn {
  height: 76px;
  width: 292px;
  background-color: white;
  margin: 0 auto;
  border-radius: 50px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

@media (max-width: 1024px) {
  .p-archive-main-section .p-cheeseburger-section-top .p-burger-detail .detail-btn, .p-archive-main-section .p-cheeseburger-section-center .p-burger-detail .detail-btn, .p-archive-main-section .p-cheeseburger-section-bottom .p-burger-detail .detail-btn {
    width: 163px;
    height: 42px;
  }
}

.p-archive-main-section .p-cheeseburger-section-top .p-burger-detail .detail-btn a, .p-archive-main-section .p-cheeseburger-section-center .p-burger-detail .detail-btn a, .p-archive-main-section .p-cheeseburger-section-bottom .p-burger-detail .detail-btn a {
  display: block;
  text-align: center;
  line-height: 76px;
  text-decoration: none;
  color: #312B1C;
}

@media (max-width: 1024px) {
  .p-archive-main-section .p-cheeseburger-section-top .p-burger-detail .detail-btn a, .p-archive-main-section .p-cheeseburger-section-center .p-burger-detail .detail-btn a, .p-archive-main-section .p-cheeseburger-section-bottom .p-burger-detail .detail-btn a {
    line-height: 46px;
  }
}

.p-archive-main-section .p-cheeseburger-section-top .p-burger-detail .detail-btn a:hover, .p-archive-main-section .p-cheeseburger-section-center .p-burger-detail .detail-btn a:hover, .p-archive-main-section .p-cheeseburger-section-bottom .p-burger-detail .detail-btn a:hover {
  opacity: 0.7;
}

.p-archive-main-section .p-section-page {
  width: 600px;
  padding: 50px 0 30px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .p-archive-main-section .p-section-page {
    width: 550px;
  }
}

@media (max-width: 599px) {
  .p-archive-main-section .p-section-page {
    display: none;
  }
}

.p-archive-main-section .p-page-select-btn {
  display: none;
}

@media (max-width: 599px) {
  .p-archive-main-section .p-page-select-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 31px;
  }
}

.p-archive-main-section .p-page-select-btn a {
  -webkit-text-decoration: black;
          text-decoration: black;
  color: #707070;
}
/*# sourceMappingURL=style.css.map */