.l-container{
    display:grid;
    grid-template-rows:$header $main $footer;
    grid-template-columns: 1fr 19%;
}

/* tabret size */

@media (max-width: $tab){
    .l-container{
        display:block;
    }
}
