.p-footer{
    text-align:center;
    color:white;
    height:150px;
    &-shop-info{
        padding-top:40px;
        font-size:20px;
    }
    &-text{
        padding-top:30px;
        font-size:14px;
    }
}