.p-footer-wrapper{
    text-align:center;
    color:white;
    .p-shop-info{
        margin-top:40px;
        font-size:20px;
    }
    .p-footer__text{
        margin-top:30px;
        font-size:14px;
    }
}