.p-main-visual{
    width:100%;
    height:530px;
    position:relative;
    .p-main-title{
        position:absolute;
        top:231px;
        left:86px;
        color:white;
        font-size:40px;
    }
}