.p-menu{
    width:80%;
    height:1300px;
    padding-top:82px;
    margin:0 auto;
    color:#707070;
    &-title{
        padding-bottom:68px;
        font-size:2.0vw;
        //タブレット以下の幅は消す
        @include tab{
            display:none;
        }
    }
    &-kind{
        h3{
            padding:17px 0 40px;
            font-size:1.4vw;
            @include tab{
                font-size:24px;               
            }
        }
        &-detail{
            padding-left:20px;
            font-size:1.0vw;
            @include tab{
                font-size:20px;
            }
            li{
                padding-bottom:23px;
                a{
                    color:#707070;
                    text-decoration: none;
                    &:hover{
                        opacity:0.8;
                    }
                }
            }
        }
    }
    @include tab{
        .p-close-btn{
            position:absolute;
            top:0.5%;
            right:3%;
            .batsu {
                display: block;
                position: relative;
                width: 30px;
                height: 30px;
                &::before,&::after{
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 5px; /* 棒の幅（太さ） */
                    height: 30px; /* 棒の高さ */
                    background: #707070;
                }
                &::before{
                    transform: translate(-50%,-50%) rotate(45deg); 
                }
                &::after{
                    transform: translate(-50%,-50%) rotate(-45deg);
                }
            }
        }
    }
}
